/* buttons */
#normal_btn {
  position: relative;
  border: 1px black solid;
  border-radius: 0;
  padding: 5px;
  cursor: pointer;
  background-color: #e85a05;
  color: black;
}

#normal_btn:hover {
  background-color: bisque;
  border: 1px black dotted;
}

#registerlogin_btn {
  position: relative;
  border: 1px black solid;
  border-radius: 0;
  padding: 5px;
  cursor: pointer;
  background-color: #e85a05;
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
}

/* spans */
#normal_span1 {
  position: relative;
  cursor: pointer;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#pricing_span {
  position: relative;
  border: 1px black solid;
  height: 50%;
  width: 20%;
  padding: 10px;
  text-align: center;
}

/* input fields */
#input1 {
  position: relative;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 20px;
  background-color: #e8d705;
  width: 180px;
}

/* label */

#input_label1 {
  position: relative;
  color: black;
}

/* Navigation bar */
#start_nav {
  position: absolute;
  top: -10px;
  left: -3px;
  height: 80px;
  width: 100%;
  border: solid 2px black;
  border-right: 0;
  background-color: #e8d705;
}

#start_nav_logo {
  margin: 0;
  position: relative;
  left: 100px;
  cursor: pointer;
  width: 300px;
}

#start_logo_heading {
  font-weight: 300;
  color: black;
  font-family: "merriweather_regular";
  font-size: 23pt;
}

#start_logo_img {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0;
  left: -50px;
}

#start_links {
  position: relative;
  top: -40px;
}

#nav1 {
  position: fixed;
  height: 80px;
  width: 99.9%;
  border: solid 2px black;
  border-right: 0;
  background-color: #e8d705;
}

#nav1-search {
  position: relative;
  top: 20%;
  left: 8%;
  background-color: #e8d705;
  color: black;
  stroke: black;
  height: 0.6cm;
  width: 10cm;
  text-align: center;
  border: 0.4px solid black;
  border-radius: 1em;
}

#nav1-profile {
  position: relative;
  left: 95%;
  top: -30%;
  height: 60px;
  width: 60px;
}

#nav1-img {
  position: absolute;
  height: 80px;
  left: 30px;
}

#nav1-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

#nav1-profile-text {
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
  left: 5px;
}

#nav1-logs {
  position: absolute;
  top: 10pt;
  left: 88%;
  width: 50px;
  height: 60px;
}

#nav1-logs-img {
  position: relative;
  left: 5px;
  height: 60px;
}

/* expert */
#role {
  background-color: #e85a05;
  position: relative;
  left: 50px;
  height: 0.5cm;
  width: 4cm;
  text-align: center;
}

.service {
  color: black;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 200px;
  width: 300px;
}

#service-img {
  height: 100px;
}

#service-par {
  margin: 0;
  padding: 0;
  position: relative;
  left: 40%;
  top: -90%;
  height: 160px;
  width: 180px;
}

.logs {
  border: 2px solid black;
  width: 70vh;
  border-radius: 10px;
  height: 60px;
}

#logs-heading {
  position: relative;
  left: 10px;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  width: 100px;
}

#logs-expert {
  margin: 0;
  padding: 0;
  position: relative;
  left: 10px;
  width: 150px;
  top: 10px;
}

#logs-status {
  margin: 0;
  padding: 0;
  position: relative;
  left: 250px;
  width: 100px;
  top: -10px;
}

/*search bar*/

