#dashboard-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#dashboard_user_box {
  display: flex;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  flex-wrap: wrap;
}
html,
body {
  height: 100%;
  margin: 0;
}
